@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(107 114 128);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(17 24 39);
  border-radius: 14px;
}

/* Estilos personalizados tailwilcss */

@layer components {
  .search-styles {
    @apply block  w-[200px] md:w-[270px]  p-2 pl-10 text-sm  border   
    rounded-lg  
bg-gray-700 border-gray-600 placeholder-gray-400 focus:outline-none text-white focus:ring-blue-500 focus:border-blue-500


 }

  }

  
